<form role="form">
	<div class="form-group">
		<label for="startDate" class="control-label"> Start Date </label>
		<div id="startDate" class="datepicker input-append">				
			<input data-format="MM/dd/YYYY"  class="form-control" type="text"></input>
		</div>		
	</div>	
				
	<div class="form-group">
		<label for="endDate" class="control-label"> End Date </label>
		<div id="endDate" class="datepicker input-append">				
			<input data-format="MM/dd/YYYY"  class="form-control" type="text"></input>
		</div>		
	</div>	
	
	<div class="form-group">
		<label for="radio" class="control-label"> Chart For </label>
	</div>
	<div class="radio">
      <label><input type="radio" name="chartTypeRadio" checked>Total Active Users</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="chartTypeRadio" >Activity</label>
    </div>
	    
		
	<div class="form-group activityDiv">
		<label for="activityName" class="control-label" > Activity </label>
		<select class=" form-control" id="activityName"> </select>
	</div>
		
	<div class="form-group">
		<button class="btn btn-primary" type="submit"> Plot Graph </button>
		<button class="btn btn-danger col-md-offset-1 reset"> Clear </button>
	</div>
</form>
	