<div class="container">
	<div class="row">
		<div class="col-md-2">
			<button class="btn btn-primary create">Create</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table data-toggle="table" data-cache="false" class="bootstrap-table" data-sort-name="postedAt" data-sort-order="desc">
			    <thead>
			        <tr>
			            <th  data-field="id" "data-align="left">ID</th>
			            <th  data-field="title" data-sortable="true" data-align="left">Title</th>
			            <th  data-field="groupName" data-sortable="true" data-align="left">Group</th>
			            <th  data-field="roleName" data-sortable="true" data-align="left">Role</th>
			            <th  data-field="postedBy" data-sortable="true" data-align="left">Posted By</th>
			            <th  data-field="postedAt" data-sortable="true" data-align="left">Posted At</th>
			            <th  data-field="viewCol" data-align="center"></th>
			        </tr>
			    </thead>
			    <tbody id="messageListContainer">
			    	
			    </tbody>
			</table>
		</div>
	</div>
</div>