<div class="container">
	<div class="row">
		<div class="col-md-2">
			<button class="btn btn-primary create">Create</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table data-toggle="table" data-cache="false" class="bootstrap-table" data-sort-name="userName">
			    <thead>
			        <tr>			            
			        	<th  data-field="userName" data-sortable="true" data-align="left">User Name</th>
			            <th  data-field="firstName" data-sortable="true" data-align="left">First Name</th>
			            <th  data-field="lastName" data-sortable="true" data-align="left">Last Name</th>			            
			            <th  data-field="roleName" data-sortable="true" data-align="left">Role</th>
			            <th  data-field="groupName" data-sortable="true" data-align="left">Group</th>
			            <th  data-field="assocParticipantName" data-sortable="true" data-align="left">Associate Participant</th>
			            <th  data-field="viewCol" data-align="center"></th>
			        </tr>
			    </thead>
			    <tbody id="userListContainer">
			    	
			    </tbody>
			</table>
		</div>
	</div>
</div>
