<!DOCTYPE HTML>
<html lang="en">
	<head>
		  <meta charset=utf-8>
		  <meta name="viewport" content="width=device-width, initial-scale=1">
		  <title>QSense Login</title>

		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		  <link rel="stylesheet" href="/qsense/public/stylesheets/css/common.css" type="text/css">
		 
		  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/css/bootstrap-select.min.css">
	</head>
</html>