<!DOCTYPE HTML>
<html lang="en">
	<nav class = "navbar navbar-default nav-main" role="navigation" style="border-top-color: ">
		<div class="container-fluid">
			<div class="navbar-header>
				<a class="navbar-brand" href="javascript:void()"><img src="/qsense/public/img/logo_header.png"></a>
			</div>
		</div>
	</nav>
</html>