<!DOCTYPE HTML>
<html lang="en">
	<head>
		  <meta charset=utf-8>
		  <meta name="viewport" content="width=device-width, initial-scale=1">
		  <title>QSense Login</title>
		  <link rel="stylesheet" href="/qsense/public/stylesheets/libs/tip-twitter.css" type="text/css">
		  <link rel="stylesheet" href="/qsense/public/bower_components/bootstrap-table/dist/bootstrap-table.min.css" type="text/css">
		<!--  <link rel="stylesheet" href="/qsense/public/bower_components/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" type="text/css">
	      <link rel="stylesheet" href="https://rawgit.com/Eonasdan/bootstrap-datetimepicker/master/build/css/bootstrap-datetimepicker.min.css" type="text/css"> -->
	</head>
	<body>
		{{> /WEB-INF/views/common.mustache}}
		<header></header>
		<section id="main-section">
			<div id="main" class="fluid-container"></div>
		</section>
		<footer></footer>	
		<script data-main = "/qsense/public/js/main.js" src = "/qsense/public/libs/require.js" ></script>
	</body>
</html>
